@page
@model PrivacyModel
@{
    ViewData["Title"] = "(Inadequate) Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>A noisy noise annoys an oyster, this is all I know. You should use this page to detail your site's privacy policy.</p>
